<!DOCTYPE html>
<html>
<head>
    <title>Registration form</title>
    #parse("blocks/head.vm")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    #parse("blocks/nav.vm")
    <div class="wrapper">
        <form class="form2" action="index.html">

            <div class="formtitle">Registration</div>

            <div class="input">
                <div class="inputtext">Your Name: </div>
                <div class="inputcontent">

                    <input type="text" />

                </div>
            </div>

            <div class="input">
                <div class="inputtext">Your Surname: </div>
                <div class="inputcontent">

                    <input type="text" />

                </div>
            </div>

            <div class="input">
                <div class="inputtext">Your Password: </div>
                <div class="inputcontent">

                    <input type="text" />

                </div>
            </div>

            <div class="input">
                <div class="inputtext">Retype Password: </div>
                <div class="inputcontent">

                    <input type="text" />

                </div>
            </div>

            <div class="input">
                <div class="inputtext">Your Email: </div>
                <div class="inputcontent">

                    <input type="text" />

                </div>
            </div>
            <div class="input">
                <div class="inputtext">Retype Email: </div>
                <div class="inputcontent">

                    <input type="text" />

                </div>
            </div>

            <div class="input">
                <div class="inputtext">Country/Town: </div>
                <div class="inputcontent">

                    <select class="select">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>

                </div>
            </div>

            <div class="buttons">

                <input class="orangebutton" type="submit" value="Send" />

            </div>

        </form>
    </div>
</body>
</html>